name: Test
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Start Backbone
        run: docker compose -p test-backbone --env-file .dev/compose.backbone.env -f .dev/compose.backbone.yml up -d
      - name: Run Tests
        run: mvn test
        env:
          NMSHD_TEST_BASEURL: http://host.docker.internal:8090
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test
          NMSHD_TEST_ADDRESS_GENERATION_HOSTNAME_OVERRIDE: localhost
      - name: Get Backbone Logs When Tests Fail
        if: failure()
        run: docker compose -p test-backbone --env-file .dev/compose.backbone.env -f .dev/compose.backbone.yml logs consumer-api event-handler-service admin-ui database-migrator > backbone-logs.txt

      - name: Archive logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: backbone-docker-logs
          path: backbone-logs.txt